:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body{
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f0ebeb
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.formContainer{
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px ;
  text-align: center;
}

.Add_task{
  background-color: #213547;
  color: #fff;
  text-align: center;
  padding: 0.7rem 1rem;
}

input{
  width: 35vw;
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 2px solid #f0ebeb;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.listContainer{
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
